@if (currentWeather) {
<div class="container">
  <div class="section">
    <div>
      <span>{{ currentWeather.city }}</span
      >.
      <span>{{ currentWeather.country }}</span>
    </div>
    <div>
      <img
        style="zoom: 175%; margin-bottom: 32px"
        [src]="currentWeather.image"
        [alt]="currentWeather.description"
      />
    </div>
  </div>
  <div class="section align-end">
    <p class="mat-h4">{{ currentWeather.date | date : "EEEE" }}</p>
    <p class="mat-h4">
      {{ currentWeather.date | date : "MMM d" }}{{ getOrdinal(currentWeather.date) }}
    </p>
    <p class="mat-headline-2">
      {{
        currentWeather.temperature
          | fahrenheitToCelcius : isFahrenheit
          | number : "1.0-0"
      }}
      {{ degreesCagegory.abbr }}
    </p>
  </div>
</div>
<div class="center">{{ currentWeather.description }}</div>
<div class="center padding">
  <mat-slide-toggle [(ngModel)]="isFahrenheit">{{
    degreesCagegory.description
  }}</mat-slide-toggle>
</div>
}
