<mat-toolbar color="primary">
  <span>LocalCast Weather</span>
  <div class="right-toolbar">
    <mat-icon class="margin10">brightness_5</mat-icon>
    <mat-slide-toggle
      class="margin10"
      color="warn"
      data-testid="darkmode-toggle"
      [checked]="toggleState()"
      (change)="toggleState.set($event.checked)"
    ></mat-slide-toggle>
    <mat-icon class="margin10">bedtime</mat-icon>
  </div>
</mat-toolbar>
<div>
  <div class="center padding mat-h1">Your city, your forcast right now!</div>
  <div class="center padding">
    <app-city-search></app-city-search>
  </div>

  <mat-card class="card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Current Weather</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-weather-display></app-weather-display>
    </mat-card-content>
  </mat-card>
</div>
